.dc24-filters .facetwp-facet-search .facetwp-input-wrap {
    @apply flex items-center;

    i {
        @apply absolute right-0 h-full z-10 top-0 px-3 flex items-center;
    }

    input {
        @apply relative order-1 p-3 rounded-sm
    }
}

.dc24-filters .facetwp-type-dropdown, .dc24-filters .facetwp-facet-tri {
    @apply p-[12px] rounded-sm pr-3 bg-white relative;

    &::after {
        content: "\f078";
        /* FontAwesome Unicode for chevron down */
        font: var(--fa-font-solid);
        @apply absolute right-0 top-0 bottom-0 m-auto px-3 z-10 bg-white h-full flex items-center pointer-events-none;
        /* Adjust as necessary */
    }
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Hide the default dropdown arrow */
.facetwp-facet select {
    /* Adjust as necessary */
    @apply relative appearance-none;
}



.dc24-filters {
    .facetwp-facet {
        @apply mb-2
    }
}

.dc24-filters__partner {
    .facetwp-facet-search {
        @apply w-60
    }
}

.facetwp-radio .facetwp-counter {
    display: none;
  }
  
.facetwp-facet-partner_type {
    .facetwp-radio {
        @apply flex items-start gap-2 bg-[left_top_5px] pl-6 pb-3;
    }
}
.facetwp-load-more {
    @apply rounded-full bg-primary text-white p-3 text-sm;
}   