h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--wp--preset--font-size--x-large);
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
h2 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--wp--preset--font-size--large);
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
h3 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--wp--preset--font-size--medium);
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
h4 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--wp--preset--font-size--small);
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
h5 {
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
h6 {
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    font-family: var(--wp--preset--font-family--funnel-display);
    line-height: inherit;
}
