@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "heading.css";
@import "heading_local.css";
@import "facet.css";
@import "_block-style.css";
@import "_gravityform.css";
@import "_wpml.css";
@import "_offcanvas.css";

html {
    scroll-behavior: smooth;
}

.logged-in .dc24-navigation{
    @apply pt-[32px];
}

h1,h2,h3,h4,h5,h6,p, a , summary, li, strong, span, div, label, button, input, select, textarea {
    @apply antialiased ;
}

h1,h2,h3,h4,h5,h6 {
    @apply mb-2 mt-6; 
}


.dc24-swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    @apply relative h-[3px] rounded-[3px] bg-white/25
}

.dc24-swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    @apply bg-white rounded-[3px];
}

.dc24-swiper-pagination-primary.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    @apply bg-primary rounded-[3px];
}

.dc24-swiper-pagination-primary.swiper-pagination-progressbar.swiper-pagination-horizontal {
    @apply relative h-[3px] rounded-[3px] bg-primary/25
}





.menu-item a {
    @apply after:content-[""] relative no-underline;
    &:after {
        @apply bg-white h-[1px] w-0 absolute -bottom-1 left-0 transition-all;
    }

    &:hover {
        &:after {
            @apply w-full;
        }
    }
}






.entry-content {
    ul {
        @apply list-disc list-inside
    }
}


.wp-block-separator {
    border-top: 1px solid;

    &.is-style-thick-line {
        border-top: 3px solid;
        @apply mb-4
    }
}





